@charset "UTF-8";
page-articledetail{
//下面是文章样式
.middle-middle-article{
  width: 255px;
  height: 140px;
  /*background-color: goldenrod;*/
  position: relative;
  float: left;
  display: block;
}
.thisart{
  height: 109px;
}

.art-list{
  position: relative;
  margin-top: 5px;
  padding-left: 5px;
  height: 141px;
  width: 376px;
  border-bottom: 1px solid #eee;
}

.article-top{
  width: 750px;
  height: 70px;
  position: relative;
  /*background-color: darkgray;*/
}
.article-middle{
  position: absolute;
  width: 260px;
  height: 120px;
  left: 0;
  /* background-color: burlywood; */
  top: 25px;


}
a.glyphicon{
  margin-right: 5px;
}
//.pagearticle-middle p{
//  display: block;
//  width: 100px;
//  height: 100px;
//  font-size: 13px;
//  line-height: 15px;
//  margin-top: 6px;
//  padding: 0;
//  color: #aaa;
//}

.showarticle{
    width: 100px;
    height: 100px;
}

.article-bottom{
  width: 750px;
  height: 20px;
  /*display: block;*/
  /*float: left;*/
  /*background-color: antiquewhite;*/
}
.myspan {
  border: solid 1px red;
  color: red;
  letter-spacing: 1px;
  margin-right: 15px;
  font-size: 10px;
  padding-left: 2px;

}
.span2{
  border: none;
  /*margin-right: 5px;*/
  color: rgb(180,180,180);
  margin-right: 5px;
}
.article-bottom a{
  color: lightgrey;
  text-decoration: none;
  margin: 0 10px;
}
.span1{
  border: none;
  color: rgb(180,180,180);
  /*margin: 0 5px;*/
}
art-list .img{
  width: 85px;
  height: 85px;
  top: 32px;
  left: 265px;
  position: absolute;
  padding-right: 10px;
  cursor: pointer;
}

.biaotia{
  cursor:pointer;
  width: 100%;
  height: 100%;
  color: black;
}

.touxiangimg{
  cursor:pointer;
  width: 100%;
  height: 100%;
}
.touxiangimgcss{
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.authorcss{
  position:absolute ;
  top: 5px;
  left: 30px;
  cursor: pointer;
  color: rgba(34,34,34,0.78);
}
.timecss{
  position: absolute;
  top: 2px;
  left: 79px;
  color: #ccc;
}
}
