<!--
  Generated template for the TopicdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar >

    <span (click)="back()">
      <ion-icon style="font-size: 30px;" ios="ios-arrow-back" md="md-arrow-back" ></ion-icon>

    </span>

  </ion-navbar>

</ion-header>


<ion-content >

  <div class="top">
    <div class="topic">
      <span> <img src="http://101.132.127.138:3000/topicimages/{{_topic?.topic_img}}" alt="..."></span>
      <div class="txt">
        <b>{{_topic?.topic_name}}</b>
        <br>
        <span>{{ _topic?.article_num}}篇文章 | {{_topic?.attent_num}}人关注</span>
      </div>
    </div>
    <!--<span>{{_topic?.topic_content}}</span>-->
    <div class="right">
      <a (click)="ifLoginClick()"><button class="btn1">投稿</button></a>
      <button class="btn2" (click)="attentopic(_topic.topic_id)">{{atten_if?'取消关注':'+关注'}}</button>
    </div>
  </div>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="article">
      <ion-segment-button value="热门">
        热门
      </ion-segment-button>
      <ion-segment-button value="  推荐">
        推荐
      </ion-segment-button>
      <ion-segment-button value="最新发布">
       最新发布
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="article">
    <ion-list *ngSwitchCase="'热门'">
      <!--<ion-item  *ngFor="let artical of _Hotarticles">-->
       <article style="width:200px" [_article]="article" *ngFor="let article of _Hotarticles"></article>
      <!--</ion-item>-->

    </ion-list>

    <ion-list *ngSwitchCase="'  推荐'">
      <!--<ion-item  *ngFor="let artical of _Collectarticles">-->
        <article [_article]="article" *ngFor="let article of _Collectarticles"></article>
      <!--</ion-item>-->
    </ion-list>

    <ion-list *ngSwitchCase="'最新发布'">
      <!--<ion-item  *ngFor="let artical of _Newarticles">-->
        <article [_article]="article" *ngFor="let article of _Newarticles"></article>
      <!--</ion-item>-->

    </ion-list>
  </div>
</ion-content>
