@charset "UTF-8";
page-topicdetail{
.top{
  height: 200px;
  width: 100%;
  padding: 10px;
  border-bottom: solid 1px gray;
}

img{
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
.txt{
  position: relative;
  left: 100px;
  bottom:60px ;
  font-size: 20px;
}
  .txt span{
    font-size: 17px;
  }
.topic{

  height: 100px;
  display: block;
}
  .top .alert{
    height: 22px;
    width: 80%;
    margin-left: 30px;
    margin-bottom: 13px;
    font-size: 16px;
    color: black;
    overflow: hidden;
  }
.right{
  margin-left: 20px;

  display:block;
  outline: 0px;
  border: 0px;
}
.btn1{

  background: white;
  color: green;
  width: 130px;
  height: 40px;
  border: 1px solid green;
  outline: 0px;

}
.btn2{
   margin-left: 40px;
  width: 130px;
  height: 40px;
  background: #009f00;
  color: white;
  outline: 0px;
  border: 0;
}
}

