@charset "UTF-8";
page-reply{
.content2{
  margin-top: 17px;
  width: 100%;
  margin-left: -2px;
}
.rh5{
  width: 365px;
  margin-top: 10px;
}

.reimg{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

//================书籍回复和文章回复
a{
  text-decoration: none!important;
}
.mycontent{
  color: #ccc;
  font-size: 13px;
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

/*弹出的回复框*/
.sub_comment_list{
  /*margin-top: 20px;*/
  /*margin: 0 50%;*/
  width: 360px;
  padding: 0 0 0 10px;
  /*border: 1px red solid;*/
  margin-bottom: 20px;

}
/*========================已有的回复*/
.sub_comment_list  .inner_comment .sub_comment{
  margin-left: 6px;
  /*margin-bottom: 15px;*/
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #f0f0f0;
}
.sub_comment_list  .inner_comment .sub_comment p{
  margin-bottom:5px;
  margin-left: 34px;
  font-size: 14px;
  line-height: 1.5;
}
.sub_comment_list  .inner_comment .sub_comment .sub_tool_group {
  font-size: 12px;
  /*color: #969696;*/
  color: black;
}
.sub_comment_list .inner_comment{
  border-left: 2px solid #d9d9d9;
  margin-left: 36px;
}
/*===============用户当时的评论=========*/
.sub_comment_list img{
  width: 25px;
  height: 25px;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  float: left;
  margin-top: -2px;
}
.sub_comment_list .comment_content{
  margin-left: 33px;
  margin-bottom: 3px;
  margin-top: 5px;
}
.comment_content a:hover{
  cursor: hand;
}
.comment_content a i{
  margin-left: 50px;
  color: #b4b4b4;
}

.comment_content .like_span{
  margin-left: 5px;
  color: #b4b4b4;
}
.comment_content p a:hover{
  text-decoration: none;
}
.comment_content p:last-child{
  margin-bottom: 0;
}
.comment_content .like_span:before{
  margin-right: 5px;
}
.youtime{
  margin-left: 35px;
}
}

