<ion-header>
  <!--<div class="top">-->
      <!--<ion-row>-->
        <!--<ion-searchbar col-11 class="ion-search"  (click)="toSearch()" (ionInput)="getItems($event)"></ion-searchbar>-->
        <!--<ion-icon col-1 name="contact" class="login" ></ion-icon>-->

      <!--</ion-row>-->
    <!------------------------->
  <ion-navbar color="light">
  <!--<div class="search">-->
    <input type="text" name="search" class="searchtxt" placeholder="发现新鲜事" [(ngModel)]="_search" maxlength="20">
    <img class="search_btn" src="../../assets/imgs/search.png" width="30px" (click)="toSearch()">
    <ion-icon col-1 name="contact" class="login" ></ion-icon>
  <!--</div>-->
  </ion-navbar>

    <!------------------------->
  <!--</div>-->


  <!--<button (click)="toRegist()">转到注册页面</button>-->
  <!--<button (click)="toMyCollect()">转到我的收藏文章页面</button>-->
  <!--<button (click)="toMyPublish()">转到我发表的文章页面</button>-->
  <!--<button (click)="toMyOrder()">转到我的订单页面</button>-->
  <!--<button (click)="toReply()">转到@我的页面</button>-->
  <!--<button (click)="toSearch()">转到搜索页面</button>-->
</ion-header>

<ion-content>
  <!--上拉刷新-->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="正在努力加载中...">
    </ion-refresher-content>
  </ion-refresher>
  <!--轮播图-->
  <ion-slides autoplay="2000" loop="true" (ionSlideDidChange)="slideChanged()" #mySlides>
    <ion-slide *ngFor="let item of imgs" >
      <img src="../../assets/imgs/{{item}}">
    </ion-slide>
  </ion-slides>
  <!--总的一大块-->
  <!--<ul id="allitems">-->
  <div id="allitems">
    <!--<li>-->
    <div>
  <!--推荐书籍-->
  <div class="book-list">
    <div class="tuijian-txt"><span class="tuijian-txt1">推荐书籍</span><span class="tuijian-txt2">更多书籍
      <ion-icon name="ios-arrow-forward-outline"></ion-icon></span></div>
    <div>
      <div class="book" *ngFor="let book of books" ><img src="http://101.132.127.138:3000/bookimages/{{book.book_img}}" alt=""><a>{{book.book_name}}</a></div>
    </div>
  </div>

  <!--==============文章-->
  <div class="tuijian-txt"><span class="tuijian-txt1">推荐文章</span><span class="tuijian-txt2">更多文章
     <ion-icon name="ios-arrow-forward-outline"></ion-icon></span></div>
  <div class="art-list" *ngFor="let colart of colarts">
    <!--文章列表-->
    <div class="middle-middle-article">
      <div class="thisart">
        <div  class="article-top" >
          <a  class="touxiangimgcss" >
            <img class="touxiangimg" src="http://101.132.127.138:3000/userhead/{{colart.user_head}}" />
          </a>
          <span class="authorcss">{{colart.user_name}}</span>
          <span class="timecss" col-4>{{colart.article_time}}</span>
          </div>

        <div  class="article-middle" >
          <h6><a class="biaotia">{{colart.article_title}}</a></h6>
          <!--//显示文章内容，管道stringSlice截取前100个字符-->
          <p class="showarticle" [innerHtml]="colart.article_content | stringSlice:60">
          </p>
        </div>
      </div>
        <div class="article-bottom">
          <span class="myspan">{{colart.topic_name}}</span>
          <span class=span2 aria-hidden="true"><ion-icon name="ios-chatbubbles" style="font-size: 14px"></ion-icon> {{colart.article_com}}</span>
          <span class="span1" aria-hidden="true"><ion-icon name="md-heart" style="font-size: 14px"></ion-icon> {{colart.article_collect}}</span>
        </div>
    </div>
      <div><img  class="img" src="http://101.132.127.138:3000/articleimages/{{colart.article_img}}"></div>
  </div>
  <!--============================================-->
<!--推荐话题===========================-->
  <div class="topic-list">
    <div class="tuijian-txt"><span class="tuijian-txt1">推荐话题</span><span class="tuijian-txt2">更多话题
      <ion-icon name="ios-arrow-forward-outline"></ion-icon></span>
    </div>
    <!--==============循环两个话题-->
      <div class="topic" *ngFor="let topic of topics">
        <img class="topicimg" src="http://101.132.127.138:3000/topicimages/{{topic.topic_img}}" alt="...">
          <h4 style="cursor: pointer"><b>{{topic.topic_name}}</b></h4>
          <!--<button class="btn-att">{{atten_if?'取消关注':'+关注'}}</button>-->
          <button class="btn-att">+关注</button>
          <hr>
          <p class="topic-p">{{topic.article_num}}篇文章 | {{topic.attent_num}}人关注</p>
      </div>
  </div>
<!--============================topic-->
  <!--==============文章-->
  <div class="tuijian-txt"><span class="tuijian-txt1">热门文章</span><span class="tuijian-txt2">更多文章
     <ion-icon name="ios-arrow-forward-outline"></ion-icon></span></div>
  <div class="art-list" *ngFor="let comart of comarts">
    <!--文章列表-->
    <div class="middle-middle-article">
      <div class="thisart">
        <div  class="article-top" >
          <a  class="touxiangimgcss" >
            <img class="touxiangimg" src="http://101.132.127.138:3000/userhead/{{comart.user_head}}" />
          </a>
          <span class="authorcss">{{comart.user_name}}</span>
          <span class="timecss" col-4>{{comart.article_time}}</span>
        </div>

        <div  class="article-middle" >
          <h6><a class="biaotia">{{comart.article_title}}</a></h6>
          <!--//显示文章内容，管道stringSlice截取前100个字符-->
          <p class="showarticle" [innerHtml]="comart.article_content | stringSlice:60">
          </p>
        </div>
      </div>
      <div class="article-bottom">
        <span class="myspan">{{comart.topic_name}}</span>
        <span class=span2 aria-hidden="true"><ion-icon name="ios-chatbubbles" style="font-size: 14px"></ion-icon> {{comart.article_com}}</span>
        <span class="span1" aria-hidden="true"><ion-icon name="md-heart" style="font-size: 14px"></ion-icon> {{comart.article_collect}}</span>
      </div>
    </div>
    <div><img  class="img" src="http://101.132.127.138:3000/articleimages/{{comart.article_img}}"></div>
  </div>
  <!--============================================-->
    </div>
  </div>



  <!--&lt;!&ndash;===============================下拉加载&ndash;&gt;-->
  <!--<ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">-->
    <!--<ion-infinite-scroll-content-->
      <!--loadingSpinner="下拉加载"-->
      <!--loadingText="正在加载，请稍后..."></ion-infinite-scroll-content>-->
  <!--</ion-infinite-scroll>-->
</ion-content>

