<!--<div [class]="check_receive_id==_address.receive_id?'checked':'content'" (click)="check()">-->
  <!--<h3 style="margin-top: 0px">{{_address.receive_name}}</h3>-->
  <!--<p>{{_address.receive_address}}</p>-->
  <!--<p>{{_address.receive_phone}}</p>-->
<!--</div>-->

<!--<ion-item>-->
  <!--<ion-label>address</ion-label>-->
  <!--<ion-select [(ngModel)]="_address" multiple="true">-->
    <!--<ion-option>-->
      <!--<div [class]="check_receive_id==_address.receive_id?'checked':'content'" (click)="check()">-->
      <div  [class]="check_receive_id==_address.receive_id?'checked':'content'" (click)="check()">
        <h3 style="margin-top: 0px">{{_address.receive_name}}</h3>
        <p>{{_address.receive_address}}</p>
        <p>{{_address.receive_phone}}</p>
      </div>
    <!--</ion-option>-->
    <!--<ion-option>Black Olives</ion-option>-->
    <!--<ion-option>Extra Cheese</ion-option>-->
    <!--<ion-option>Mushrooms</ion-option>-->
    <!--<ion-option>Pepperoni</ion-option>-->
    <!--<ion-option>Sausage</ion-option>-->
  <!--</ion-select>-->
<!--</ion-item>-->
