<ion-header>

  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-icon name="arrow-back" (click)="back()" style="font-size: 30px !important; color: dodgerblue;"></ion-icon>
          <!--<span class="confirmtip">确认订单信息</span>-->
        </ion-col>
        <!--<ion-col col-6 style="text-align: right" >-->
        <!--<ion-icon name="more"></ion-icon>-->
        <!--</ion-col>-->
      </ion-row>
    </ion-grid>
  </ion-navbar>


</ion-header>


<ion-content padding="">
  <div padding>
    <ion-segment [(ngModel)]="search">
      <ion-segment-button value="books">
        书籍
      </ion-segment-button>
      <ion-segment-button value="articles">
        文章
      </ion-segment-button>
      <ion-segment-button value="topic">
        话题
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="search">
    <ion-list *ngSwitchCase="'books'">
      <!--<div>-->
        <h1  style="padding-left: 137px;width: 100%;margin-top:20px" *ngIf="!_books">抱歉！</h1>
        <h1  style="padding-left: 73px;width: 100%;margin-top:-10px" *ngIf="!_books">未找到相关书籍</h1>
        <div *ngIf="_books">
          <!--下面是组件----------------------------------------------------------------------->
          <div class="col-md-6" *ngFor="let book of _books">
            <div class="booklist_bookitem" >
              <div class="bookicon">
                <img src="http://101.132.127.138:3000/bookimages/{{book?.book_img}}" alt="" style="height:150px; width:100px"  (click)="toBookDetail(book?.book_id)">
              </div>
              <div class="book_content">
                <a (click)="toBookDetail(book?.book_id)">{{book?.book_name}}</a>
                <p class="author">作者：{{book?.writer_name}}</p>
                <p class="author">类型：{{book?.book_tag}}</p>
                <p class="summary" [innerHtml]="book?.book_content"></p>
              </div>
            </div>
          </div>
        </div>

      <!--</div>-->
    </ion-list>
    <!-------------------------------------------------------------------------------------------------->
    <ion-list *ngSwitchCase="'articles'">
      <h1 style="text-align: center;width: 100%;margin-top:20px" *ngIf="!_articles">抱歉！</h1>
      <h1 style="text-align: center;width: 100% ;margin-top:-10px" *ngIf="!_articles">未找到相关文章</h1>
      <div *ngIf="_articles">

        <div class="articleItem"  *ngFor="let article of _articles">
          <!--<ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>-->
          <ion-grid>
            <ion-row>
              <ion-col col-8>
                <div class="author">
                  <a (click)="togetuserid(article?.user_id)" class="icon">
                    <img  src="http://101.132.127.138:3000/userhead/{{article?.user_head}}" alt="">
                  </a>
                  <a (click)="togetuserid(article?.user_id)" class="name">{{article?.user_name}}</a>
                  <span>{{article?.article_time |stringSlice:10}}</span>
                </div>
                <a  (click)="toarticle(article?.article_id)" class="title">{{article?.article_title}}</a>
                <p  [innerHtml]="article?.article_content | stringSlice:50"></p>
                <div class="meta">
                  <a>{{article?.topic_name}}</a>
                  <!--<span aria-hidden="true"><i class="fa fa-comment"></i> {{_articles?.article_com?_articles?.article_com:0}}</span>-->
                  <!--<span aria-hidden="true"><i class="fa fa-heart"></i> {{_articles?.article_collect?_articles?.article_collect:0}}</span>-->
                  <span class=span2 aria-hidden="true"><ion-icon name="ios-chatbubbles" style="font-size: 14px"></ion-icon> {{article?.article_com?article?.article_com:0}}</span>
                  <span class="span1" aria-hidden="true"><ion-icon name="md-heart" style="font-size: 14px"></ion-icon> {{article?.article_collect?article?.article_collect:0}}</span>
                </div>
              </ion-col>

          <ion-col col-4>
            <img class="article_img" src="http://101.132.127.138:3000/articleimages/{{article?.article_img}}" alt="" >
          </ion-col>

          <div style="clear: both"></div>
          </ion-row>
          </ion-grid>

        </div>

      </div>
    </ion-list>
    <!------------------------------------------------------------->
    <ion-list *ngSwitchCase="'topic'">
      <ion-list>
        <h1 style="text-align: center;width: 100%;margin-top:20px" *ngIf="!_topics">抱歉！</h1>
        <h1 style="text-align: center;width: 100%;margin-top:-10px" *ngIf="!_topics">未找到相关话题</h1>
        <ion-item  *ngFor="let topic of _topics">
          <ion-thumbnail item-start>
            <img src="http://101.132.127.138:3000/topicimages/{{topic?.topic_img}}" (click)="toTdetail(topic?.topic_id)">
          </ion-thumbnail>
          <h3>{{topic?.topic_name}}</h3>
          <p>{{ topic?.article_num?topic?.article_num:0}}篇文章 | {{topic?.attent_num?topic?.attent_num:0}}人关注</p>
          <button class="btn_atten"  item-end (click)="attentopic(topic?.topic_id)">{{atten_if ? '取消关注' : '+关注'}}</button>
        </ion-item>

      </ion-list>
    </ion-list>
  </div>
</ion-content>
