
<ion-header (click)="blurComment($event)">
  <ion-navbar>
    <ion-icon name="arrow-back" (click)="back()" style="font-size: 30px !important; color: #488aff;"></ion-icon>
    <ion-title>文章详情</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding (click)="blurComment($event)">
  <div  class="top">
    <div class="tittle">
      <p>{{article?.article_title}} </p>
    </div>
    <div class="topleft">
      <img class="userhead" src="http://101.132.127.138:3000/userhead/{{article?.user_head}}" alt="">
      <p class="username">{{article?.user_name}}</p>
      <span class="pubtime">{{article?.article_time}}</span>
    </div>
  </div>
  <div class="articledetail">
  </div>
  <!--======================显示评论-->
  <div class="comment" >
    <div class="count" *ngIf="comments && comments?.length>0">
      <span class="left">共{{comments[0]?.artcom_num}}条评论</span>
      <div class="pull-right">
        <a class="active">点赞最多</a>
        <a class>收藏最多</a>
        <a class>最新发布</a>
      </div>
    </div>
    <ul *ngIf="comment_if" class="comment_ul2">
      <app-article-comment [_comment]="comment" *ngFor="let comment of comments" (reartcomment)="ReArtComment($event)"></app-article-comment>
    </ul>
  </div>
</ion-content>





<ion-footer>
  <ion-toolbar>
    <form [formGroup]="commentForm">
      <input [formControl]="_com_centent" id="artcomment_input" type="text" placeholder="写评论..." [(ngModel)]="articlecomment">
    </form>
    <i [class]="collect_if?'fa fa-star love_color':'fa fa-star-o'" (click)="CollectArticle()" [style.color]="collect_if?'#488aff':'#000'"></i>
    <button class="comment_btn" (click)="artcomment()" [disabled]="!commentForm.valid">评&nbsp;&nbsp;论</button>
  </ion-toolbar>
</ion-footer>
