<ion-content padding style="background-color: #f8f8f8;">

  <ion-row class="basic_information" *ngIf="islogin">
    <ion-col col-3 style="text-align: center;">
      <img src="http://101.132.127.138:3000/userhead/{{_user?.user_head}}" alt="">
    </ion-col>
    <ion-col col-9>
      <!--登录后显示-->
      <h3>{{_user?.user_name}}</h3>
      <p>{{_user?.user_introduction | stringSlice:50}}</p>
    </ion-col>
  </ion-row>
  <!--未登录显示-->
  <ion-row class="basic_information" *ngIf="!islogin">
    <ion-col col-3 style="text-align: center;">
      <img src="http://101.132.127.138:3000/userhead/boy.jpg" alt="">
    </ion-col>
    <ion-col col-9>

      <div>
        <span class="login" (click)="toLogin()">登录</span>
        <span class="regist" (click)="toRegist()">注册</span>
      </div>
    </ion-col>
  </ion-row>



  <ion-row class="icon">
    <div (click)="toLove()">
      <i class="fa fa-heart-o fa-lg" style="color: #ffc539"></i>
      <p>喜欢</p>
    </div>
    <div (click)="toCollect()">
      <i class="fa fa-star-o fa-lg" style="color: #ff4983"></i>
      <p>收藏</p>
    </div>
    <div (click)="toAtten()">
      <i class="fa fa-eye fa-lg" style="color: #bc95ff"></i>
      <p>关注</p>
    </div>
  </ion-row>
  <ion-list class="lists">
    <button ion-item (click)="toMessage()">@我的</button>
    <button ion-item (click)="toMyArticle()">我的文章</button>
  </ion-list>
  <ion-list class="lists">
    <button ion-item (click)="toAddress()">收货地址</button>
    <button ion-item (click)="toOrder()">我的订单</button>
  </ion-list>
  <ion-list class="lists">
    <button ion-item (click)="toSetting()">系统设置</button>
  </ion-list>
</ion-content>
